h1 {
    margin-top: 0px;
    padding-bottom:0%;
    padding: auto;
    padding-bottom:0%;
    margin-bottom: 0%;
    font-size: 75px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #800000;
    color: #faebd7
}

#links {
    padding-top: 5px;
  padding-bottom: 5px;
    display: flex;
   flex-direction: row-reverse;
   justify-content: end;
    font-size: 25px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
    color:  rgb(81, 38, 7);
}

#Quiz {
   padding-right: 20px;
   color:  rgb(81, 38, 7);
   font-family: 'Trebuchet MS', sans-serif;
}

#Wordle  {
   padding-right: 20px;
   color:  rgb(81, 38, 7);
   font-family: 'Trebuchet MS', sans-serif;
}

#Home  {
   padding-right: 20px;
   color:  rgb(81, 38, 7);
   font-family: 'Trebuchet MS', sans-serif;
}

#Entwickler {
    padding-right: 20px;
    color:  rgb(81, 38, 7);
   font-family: 'Trebuchet MS', sans-serif;
}

#kim {
    font-size: 35px;
    font-family: 'Trebuchet MS', sans-serif;
    margin-left: 10%;
   margin-right: 10%;
   background-color: #800000;
   border: 23px maroon solid;
    border-radius: 20px;
    color: antiquewhite;
}

#bildkim {
    border: 23px antiquewhite solid;
    border-radius: 20px;
    background-color: antiquewhite;
    color: rgb(81, 38, 7);
    display: flex;
   flex-direction: row;
   justify-content: center;
   margin-left: 10%;
   margin-right: 10%;
}

#kiminfo {
    font-size: 25px;
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(81, 38, 7);
    padding-left: 30px;
}

.bulletkim {
    font-size: 25px;
    background-color: antiquewhite;
    font-family: 'Trebuchet MS', sans-serif;
    padding-left: 30px;
     color: rgb(81, 38, 7);
}

#instakim {
    color: antiquewhite;
    background-color: rgb(81, 38, 7) ;
    font-size: 50px;
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

#nameclara{
    font-size: 35px;
    font-family: 'Trebuchet MS', sans-serif;
    margin-left: 10%;
   margin-right: 10%;
   background-color: #800000;
   border: 23px maroon solid;
    border-radius: 20px;
    color: antiquewhite;
}

#clara {
    border: 23px antiquewhite solid;
    border-radius: 20px;
    background-color: antiquewhite;
    color: rgb(81, 38, 7);
    display: flex;
   flex-direction: row;
   justify-content: center;
   margin-left: 10%;
   margin-right: 10%;
}

#clarainfo {
    font-size: 25px;
    font-family: 'Trebuchet MS', sans-serif;
    padding-left: 30px;
}

.bulletclara {
    font-size: 25px;
    font-family: 'Trebuchet MS', sans-serif;
    padding-left: 30px;
}

#instaclara {
    color: antiquewhite;
    background-color: rgb(81, 38, 7) ;
    font-size: 50px;
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
}